.title-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 


  
  .card-to-front {
    // z-index: 1;
  }
  
  .complete-holder {
    display: flex;
    justify-content: center;
    align-items: center;  }
  :first-of-type {
    // margin-top: -10px;
  }

  .card-holder {
    margin-bottom: 20px;
  }
  
  .card {
    width: 75px;
    height: 75px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  
    background: rgba(255, 255, 255, 0.267);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    display: block;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 -20px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3), 0px 0px 2px rgba(0, 0, 0, 0.5);
    // transition: transform 300ms;
    // transform: translateY(0);
    // animation: move-the-circle 1s infinite;
    // animation-play-state: running;
  
    &:hover {
      // animation-play-state: paused;
      // transform:translateY(-30px);
    }
  }
  
  .title {
    // align-self: center;
    position: absolute;
    align-self: flex-end;
    margin: -65px;
  }
  
  .card-hand {
    display: flex;
    justify-content: center;
    // margin-top: 60px;
  
    > div:first-child:nth-last-child(1) {
    }
  
    > div:first-child:nth-last-child(2),
    div:first-child:nth-last-child(2):first-child {
      transform: rotate(-24deg);
      transform-origin: bottom right;
    }
  
    > div:first-child:nth-last-child(2),
    div:first-child:nth-last-child(2):first-child + div {
      transform: rotate(24deg);
      transform-origin: bottom left;
    }
  
    > div:first-child:nth-last-child(3):first-child {
      transform: rotate(-24deg);
      transform-origin: bottom right;
    }
  
    > div:first-child:nth-last-child(3):first-child + div {
      transform: translateY(0px);
    }
  
    > div:first-child:nth-last-child(3):first-child + div + div {
      transform: rotate(24deg);
      transform-origin: bottom left;
    }
  
    > div:first-child:nth-last-child(4):first-child {
      transform: rotate(-36deg);
      transform-origin: bottom right;
    }
  
    > div:first-child:nth-last-child(4):first-child + div {
      transform: rotate(-12deg);
      transform-origin: bottom left;
    }
  
    > div:first-child:nth-last-child(4):first-child + div + div {
      transform: rotate(12deg);
      transform-origin: bottom right;
    }
  
    > div:first-child:nth-last-child(4):first-child + div + div + div {
      transform: rotate(36deg);
      transform-origin: bottom left;
    }
  
    > div:first-child:nth-last-child(5):first-child {
      transform: rotate(-48deg);
      transform-origin: bottom right;
    }
  
    > div:first-child:nth-last-child(5):first-child + div {
      transform: rotate(-24deg);
      transform-origin: bottom left;
    }
  
    > div:first-child:nth-last-child(5):first-child + div + div {
      transform: translateY(-20px);
    }
  
    > div:first-child:nth-last-child(5):first-child + div + div + div {
      transform: rotate(24deg);
      transform-origin: bottom right;
    }
  
    > div:first-child:nth-last-child(5):first-child + div + div + div + div {
      transform: rotate(48deg);
      transform-origin: bottom left;
    }
  
    > div:first-child:nth-last-child(6):first-child {
      transform: rotate(-48deg);
      transform-origin: bottom right;
    }
  
    > div:first-child:nth-last-child(6):first-child + div {
      transform: rotate(-32deg);
      transform-origin: bottom left;
    }
  
    > div:first-child:nth-last-child(6):first-child + div + div {
      transform: rotate(-10deg) translateY(-20px);
      transform-origin: bottom left;
    }
  
    > div:first-child:nth-last-child(6):first-child + div + div + div {
      transform: rotate(10deg) translateY(-20px);
  
      transform-origin: bottom right;
    }
  
    > div:first-child:nth-last-child(6):first-child + div + div + div + div {
      transform: rotate(32deg);
      transform-origin: bottom right;
    }
    > div:first-child:nth-last-child(6):first-child
      + div
      + div
      + div
      + div
      + div {
      transform: rotate(48deg);
      transform-origin: bottom left;
    }
  }
  